<div class="my-10 contenido-login" (submit)="loginUser($event)">
    <form class="formu-login">
        <p><label for="email">Email:</label></p>
        <input type="text" name="email" id="email" [(ngModel)]="user.email">
        <p><label for="password">Password:</label></p>
        <input type="text" name="password" id="password" [(ngModel)]="user.password">
        <div class="btns">
            <div class="btn-izquierda">
                <input type="submit" class="font-bold text-lg btn-login" value="LogIn">
            </div>
            <div class="btn-derecha">
               <a href="/"><input type="button" class="font-bold text-lg btn-atras" value="Atras"></a>
            </div>
        </div>
        <div class="links">
            <a href="#" class="olvidado">¿Has olvidado la contraseña?</a>
            <br>
            <a href="/auth/register" class="no-register">Aun no te has registrado</a>
            <br>
        </div>
    </form>
</div>