<div class="flex">
    <!-- <h1 class="font-bold text-choc1 text-4xl text-center mb-0">Agregar Productos</h1> -->
    <div class="my-10 w-2/5">
        <form (submit)="isUpdating ? updateItem($event) : createProduct($event)" class="flex flex-col w-3/5 mx-auto border-4 border-choc1 rounded-lg font-bold p-2 bg-choc3" id="createForm">
            <!-- name -->
            <label for="name">Nombre del Producto:</label>
            <input class="border-2 border-choc1 rounded-lg px-2 mb-3 bg-crem1 outline-none" type="text" name="name" [(ngModel)]="productModel.name">
            
            <!-- category -->
            <label for="category">Categoria:</label>
            <select class="border-2 border-choc1 rounded-lg px-2 mb-3 bg-crem1 outline-none" type="text" name="category" [(ngModel)]="productModel.category">
                <!-- category options -->
                <option class="font-bold text-choc1" value="" selected></option>
                <option class="font-bold text-choc1" value="bebidas">Bebidas</option>
                <option class="font-bold text-choc1" value="pan">Pan</option>
                <option class="font-bold text-choc1" value="postres">Postres</option>
            </select>
    
            <!-- description -->
            <label for="desscription">Descripción:</label>
            <textarea class="border-2 border-choc1 rounded-lg px-2 mb-3 bg-crem1 outline-none h-14" type="text" name="desscription" [(ngModel)]="productModel.description"></textarea>
    
            <!-- price -->
            <label for="price">Precio:</label>
            <input class="border-2 border-choc1 rounded-lg px-2 mb-3 bg-crem1 outline-none" name="price" pattern="^\d*(\.\d{0,2})?$" [(ngModel)]="productModel.price">
    
            <!-- image -->
            <label for="image">Imagen:</label>
            <textarea class="border-2 border-choc1 rounded-lg px-2 mb-3 bg-crem1 outline-none h-14" type="text" name="image" [(ngModel)]="productModel.image"></textarea>
    
            <button class="border-2 border-choc1 rounded-lg px-2 mb-3 bg-choc2 text-crem1 hover:bg-choc1 transition-all" type="submit" >Crear Producto</button>
        </form>
    </div>
    <!-- all Items -->
    <!-- <h1 class="font-bold text-choc1 text-4xl text-center mb-0">Productos</h1> -->
    <div class="flex justify-evenly my-10 flex-wrap w-3/5">
        <!-- ngIf -->
        <div *ngFor="let item of allProducts" class="w-1/3 my-3 mx-5 flex flex-col justify-between border-4 border-choc1 rounded-lg font-bold bg-crem1">
            <h2 class="p-1">Id: <span class="font-normal">{{item.id}}</span></h2>
            <h2 class="p-1">Nombre: <span class="font-normal">{{item.name}}</span></h2>
            <h2 class="p-1">Categoría: <span class="font-normal">{{item.category}}</span></h2>
            <p class="p-1">Descripción: <span class="font-normal">{{item.description}}</span></p>
            <h2 class="p-1">Precio: $<span class="font-normal">{{item.price}}</span></h2>
            <h2 class="hidden">Imagen: <span class="font-normal">{{item.image}}</span></h2>
            <img class="w-5/5 p-1 h-64 mx-auto my-2 rounded-xl" src="{{item.image}}" alt="itemImg">
            <h2 class="p-1 bg-crem3">Estado: <span class="font-normal">{{item.status}}</span></h2>
            <div class="flex h-10">
                <button data-id={{item.id}} class="bg-choc3 w-1/2 hover:bg-choc1 hover:text-crem1 transition-all" (click)="fillInputs($event)">Actualizar</button>
                <button data-id={{item.id}} class="bg-crem4 w-1/2 hover:bg-choc1 hover:text-crem1 transition-all" (click)="deleteItem($event)">Eliminar</button>
            </div>
        </div>
    </div>
</div>